@import "../../../less/includes/variables";

@menuItemHeight: 55px;

tsg-dashboard-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.iconMargin {
    display: inline-block;
    margin-right: 7px;
    font-size: 18px;
}

#dashboard-header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: @purple;
    border-bottom: 3px solid darken(@purple, 28%);
    height: @menuItemHeight;
}

#dashboard-header-container > ul { 
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: @menuItemHeight;
    overflow: hidden;
    /* border: 2px dotted yellow; */
    line-height: @menuItemHeight;
    margin: 0px 10px;
    max-height: 100%;

}

#dashboard-header-container > ul > li {
    box-sizing: border-box;
    height: 100%;    
    list-style: none;
    padding: 0px 17px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 700;
    
}

#dashboard-header-container > ul > li:hover {
    color: darken(@purple, 28%);
}


#dashboard-header-container > ul > li > i {
    .iconMargin();
    
}

#dashboard-header-container > div {
    display: flex;
    justify-self: flex-end;
    flex-grow: 1;
    width: 10%;
    
}

#dashboard-header-container > div > .logged-in-user {
    justify-self: flex-end;
    line-height: @menuItemHeight;
    font-family: 'Open Sans';
    font-style: italic;
    font-size: 16px;
    font-weight: 700;
    color: lighten(@purple, 28%);
    
}

#dashboard-header-container > div > .logged-in-user:hover {
    cursor: pointer;
    color: #fff;
}

#dashboard-header-container > div > .logged-in-user > i {
    .iconMargin();
}