<div id="dashboard-header-container">
        <ul>
                <li><i class="fas fa-home"></i> Home</li>
                <li><i class="far fa-cubes"></i>Projects</li>
        </ul>

        <div>
                <span class="logged-in-user" *ngIf="stateManagement?.app?.UserInfo?.FullName">
                        <i class="fas fa-user-cog"></i>
                        {{ stateManagement?.app?.UserInfo?.FullName }}
                </span>
        </div>

        <div>
                <span 
                        class="logged-in-user" *ngIf="stateManagement?.app?.LoggedIn"
                        (click)="logout()">
                        <i class="fas fa-sign-out-alt"></i>Sign Off
                </span>
        </div>


        
</div>