<div id="main-app-container" class="sf-container-stack">
    <mat-progress-bar [style.display]="stateManagement.app.LoadingIndicator ? 'block' : 'none'" mode="indeterminate">
    </mat-progress-bar>

    <router-outlet>

    </router-outlet>

</div>