<div class="login-background" simple-snack-bar>
  <div class="login-container">
    <div class="login-container-section-wrapper">
      <div class="sign-up">
        <div class="tsg-form-control">
          <input type="text" placeholder="email" autocomplete="off" [(ngModel)]="model.username" />
          <i class="fal fa-user"></i>
        </div>

        <div class="tsg-form-control">
          <input type="password" placeholder="password" [(ngModel)]="model.password" />
          <i class="far fa-lock-open-alt"></i>
        </div>

        <button (click)="checkLogin()">Login</button>

        <p class="text-center" (click)="forgotPassword()">Forgot Password / Username</p>
        <p class="text-center" (click)="resetPassword()">Reset Password / Username</p>
      </div>

      <div class="container-spacer"></div>
      <div class="new-account" style="padding: 2%;">
          <p style="text-align: left; font-weight: 900;
          font-size: 32px;text-transform: none;font-stretch:300%;">New <span
            style="color: #6334a1;">User</span></p>
          <p style="text-align: left; text-transform: none;font-size: 18px;">Setup an account</p>
          <p style="text-transform: uppercase; font-family: 'Open Sans'; font-size: 225%;">OR</p>
          <p style="text-align: left; text-transform: none;font-size: 18px;">
            Sign Up today to begin using our state
            of the art system!</p>

          <button style="width: 100%;">Create Account</button>
      </div>
    </div>
  </div>
</div>
