@import "../../../less/includes/variables";

@mainFont: 'Niramit';
@login-height: 85vh;
@snackbar-height: 200px;


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:host, tsg-login-panel {
    box-sizing: border-box;
    width: 100vw;
    max-width: 100%;
    min-height: @login-height;
    height: @login-height;
    display: flex;
    flex-direction: column;
    margin: 0;
    flex-grow: 1;
    color: #fff;
    font-family: @mainFont;
    box-sizing: border-box;

}

.tsg-form-control:last-of-type {
    margin-bottom: 10px;
}

p {
    font-family: 'OPen Sans';
    text-transform: uppercase;
    margin: 7px 0px;
}

p:first-of-type {
    margin-top: 14px;
}

p:last-of-type {
    margin-bottom: 14px;
}

p:hover {
    cursor: pointer;

}

input:focus
{
    background: #FFF !important;
}

button {
    height: 46px;
    border-radius: 36px;
    background: @purple;
    border: 2px solid darken(@purple, 28%);
    color: #fff;
    font-family: 'OPen Sans';
    text-transform: uppercase;

}

button:hover {
    cursor: pointer;
    border-color: #ccc;
}
.login-background {
    // background: #333333;
    flex-grow: 1;
    background-size: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.login-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    width: 35vw;
    // border: 2px solid #847D72;
    // height: 500px;
    // background: rgba(209, 209, 209, .9);
    align-items: center;
    // padding: @gutter;


}
.login-section-common {
    height: 100%;
    flex-grow: 1;
    max-width: 48%;

}

.login-container-section-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100%;
    width: 100%;

}
.container-spacer {
    border-left: 2px solid #FFF;
    margin-left: 2%;
    margin-right: 2%;
}

.sign-up {
    display: flex;
    flex-direction: column;
    .login-section-common();

}

input::placeholder {
    font-size: 16px;
    font-family: 'Open Sans';
    color: #ccc;
    text-transform: uppercase;
}

.new-account {
    .login-section-common();


}

.formElementGeneral {
    width: 100%;
    height: 46px;
    margin: 2% 0;
    border: none;
    padding: 0px 0px 0px 15%;
    background: #FFF;
    font-size: 14px;
    font-family: @mainFont;
    border-radius: 7px;
    font-size: 16px;
    font-family: 'Open Sans';
    color: #000;
}

.login-container > img {
    width: 50%;
    margin-bottom: @gutter * 5;
}


.login-container-section-wrapper input {
    box-sizing: border-box;
    .formElementGeneral();
    // border-bottom: 3px solid @mainColor;
}

.tsg-form-control {
    position: relative;
}

.tsg-form-control > i {
    position: absolute;
    color: @purple;
    left: 13px;
    top: 19px;
    font-size: 22px;
}

.btn {
    .formElementGeneral();
    border: 3px solid @secondaryColor;
    color: @secondaryColor;
    font-size: 1rem;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.btn:hover {
    cursor: pointer;
    background: @secondaryColor;
    border-color: #fff;
    color: #FFF;
}

.login-container > div {
    margin-bottom: @gutter;
}

.login-container > div > span {
    color: #000;
    font-family: @mainFont;
    font-size: .8rem;
    text-align: justify;
}

.recover-password-container {
    color: #000;
}

.recover-password-container > span:hover {
    cursor: pointer;
}

.mar-bot-2 {
    margin-bottom: 2%;
}
.mar-bot-5 {
    margin-bottom: 5%;
}


.mar-bot-10 {
    margin-bottom: 10%;
}

.gridGeneral {
    position: relative;
    display: flex;
    // overflow: hidden;
    box-sizing: border-box;

 }

 .sf-expand {
     flex-grow: 1;
 }

.sf-container {
    .gridGeneral();

}

.sf-container-stack {

    .gridGeneral();
    flex-direction: column;

}

.grow {
    flex-grow: 2;
}

.sf-container.right {
    justify-content: flex-end;
}

.sf-container.center {
    justify-content: center;
}
