@import "../../../less/includes/variables";

@container-width: 30%;
@container-height: 90vh;


:host,
recover-password {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
   
    justify-content: center;
    align-items: center;
    font-family: @mainFont;
    height: @container-height
}


.password-recovery-container {

    display: flex;
    flex-direction: column;
    flex-basis:  @container-width;
    
    
}

.tsg-form-control {
    position: relative;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.tsg-form-control > i {
    position: absolute;
    color: @purple;
    left: 13px;
    top: 19px;
    font-size: 22px;
}

h3 {
    font-family: @mainFont;
    font-size: 2.2rem;
    font-weight: 700;
    color: @purple;
    align-self: center;
}

h5 {
    font-family: @mainFont;
    font-size: 1.5rem;
    font-weight: 600;
    align-self: center;
    text-align: center;
}

input[type="password"],
input[type="email"] {
    width: 100%;
    height: 42px;
    margin: 0 auto;
    font-size: 18px;
    padding: 0 10px;
    font-family: @mainFont;
}

button {
    height: 46px;
    border-radius: 36px;
    background: @purple;
    border: 2px solid darken(@purple, 28%);
    color: #fff;
    font-family: 'OPen Sans';
    text-transform: uppercase;
    padding: 7px 20px;
}

button:hover {
    cursor: pointer;
    border-color: #ccc;
}