<div class="password-recovery-container">
        <div class="recover-username" *ngIf="!showPasswordReset">
                <h3>We are here to Help</h3>
                <h5>
                        Got it! <br>Please provide your email address that is associated with<br>
                        your account and a link with directions will be sent to you!
                </h5>
                <div class="tsg-form-control">
                        <input type="email" placeholder="EMail Address" [(ngModel)]="emailAddress" />
                        <i class="far fa-lock-open-alt"></i>
                </div>

                <div class="tsg-form-control">
                        <button id="btnSubmit" (click)="verifyEmail(emailAddress)">Recover Password</button>
                </div>
        </div>

        <div class="reset-password" *ngIf="showPasswordReset">

                <h5>
                       Reset Your Password
                </h5>
                
                <div class="tsg-form-control">
                        <input type="password" placeholder="Password" [(ngModel)]="passwd" />
                        <i class="far fa-lock-open-alt"></i>
                </div>

                <div class="tsg-form-control">
                        <input type="password" placeholder="Confirm Password" [(ngModel)]="passwd2" />
                        <i class="far fa-lock-open-alt"></i>
                </div>

                <div class="tsg-form-control">
                        <button id="btnSubmit" (click)="verifyEmail(emailAddress)">Save</button>
                </div>
        </div>
</div>