.snack-davis {
    left: 40%;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    
}

.snack-bar-container {
    width: 100vw;
    max-width: 100%;
}

nav
#cdk-overlay-2 {
    width: 100%;
}