@import "../../../less/includes/variables";


:host {
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    // border: 1px dashed red;
    display: flex;
    flex-direction: column;
    margin: 0;
    flex-grow: 1;
}
