.login-background {
  background: #333333;
  flex-grow: 1;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 42px solid white;
}
.login-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  width: 25vw;
  border: 2px solid #847D72;
  background: rgba(209, 209, 209, 0.9);
  align-items: center;
  padding: 2%;
}
.formElementGeneral {
  width: 100%;
  height: 46px;
  margin: 2% 0;
  border: none;
  padding: 0 6%;
  background: #FFF;
  font-size: 14px;
  font-family: 'Niramit';
}
.login-container > img {
  width: 50%;
  margin-bottom: 10%;
}
.login-container > input {
  box-sizing: border-box;
  width: 100%;
  height: 46px;
  margin: 2% 0;
  border: none;
  padding: 0 6%;
  background: #FFF;
  font-size: 14px;
  font-family: 'Niramit';
  border-bottom: 3px solid #007FB4;
}
.btn {
  width: 100%;
  height: 46px;
  margin: 2% 0;
  border: none;
  padding: 0 6%;
  background: #FFF;
  font-size: 14px;
  font-family: 'Niramit';
  border: 3px solid #064476;
  color: #064476;
  font-size: 1rem;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.btn:hover {
  cursor: pointer;
  background: #064476;
  border-color: #fff;
  color: #FFF;
}
.login-container > div {
  margin-bottom: 2%;
}
.login-container > div > span {
  color: #000;
  font-family: 'Niramit';
  font-size: 0.8rem;
  text-align: justify;
}
.recover-password-container {
  color: #000;
}
.recover-password-container > span:hover {
  cursor: pointer;
}
.mar-bot-2 {
  margin-bottom: 2%;
}
.mar-bot-5 {
  margin-bottom: 5%;
}
.mar-bot-10 {
  margin-bottom: 10%;
}
.gridGeneral {
  position: relative;
  display: flex;
  box-sizing: border-box;
}
.sf-expand {
  flex-grow: 1;
}
.sf-container {
  position: relative;
  display: flex;
  box-sizing: border-box;
}
.sf-container-stack {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}
.grow {
  flex-grow: 2;
}
.sf-container.right {
  justify-content: flex-end;
}
.sf-container.center {
  justify-content: center;
}

